{#
    DO NOT USE ckan_extends here. Causes a very obscure error when rendering the jinja template:
    ValueError: invalid literal for int() with base 10: ''
    Originally caused by:
    File '/home/tk/ckanext-dfo/ckanext/dfo/map_display.py', line 186 in map_display
      extra_vars={'data': data})
    {% ckan_extends %}
#}


{#
    This template is rendered in a resource view. It displays the full map preview for a spatial resource,
    rendered either as Mapbox vector tiles, or WMS raster tiles from a Geotiff.  In both cases the data is
    served from Geoserver and displayed in an OpenLayers map.

    Through experimentation, I found that I need to extend one of the existing CKAN templates, or the
    Javascript functions to register a JS module in ckan and have it bundled with fanstatic don't work.
    {% extends "base.html" %} did not work.
    I tried {% extends "page.html" %} and this works. page.html must have some additional required imports.
#}

{% extends "page.html" %}

{% block page %}
    {% resource 'dfo/resource_map_display.js' %}

    <!-- CDN for openlayers -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css">

    <div id="ol_resource_map_container">
        <div>
            This is the map preview for {{ data.get('dataset_id') }}: {{ data.get('layer_name') }}, 
            Geoserver {{ data.get('spatial_type') }} layer {{ data.get('gs_layer_name') }}  (resource id: {{ data.get('resource_id') }})
        </div>

        <div id="ol_resource_map"
            data-module="dfo_map_display"
            data-module-layername="{{ data.get('layer_name') }}"
            data-module-north="{{ data.get('north') }}"
            data-module-east="{{ data.get('east') }}"
            data-module-south="{{ data.get('south') }}"
            data-module-west="{{ data.get('west') }}"
            style="height: 600px;">
        </div>
    </div>

    {# <script>
        // This is only used if we are rendering a template raw, without using ckan_extends

        // Options passed to this JavaScript module by the calling template.
        // var layer_name = this.options.layername;
        var layer_name = 'vvv'
        console.log('Rendering map preview: '+layer_name)
    </script> #}

{% endblock -%}
