
{% resource 'dfo/ac_goc_themes.js' %}

<div class="form-group control-full">

    <label class="control-label" for="field-{{ field.field_name }}">AC22 Keywords</label>
    <div class="controls ">

        <!-- For the older version of Select2 used in CKAN, we must have a hidden input field:
            https://stackoverflow.com/q/39818937 -->
        <input type="text" id="field-{{ field.field_name }}" name="{{ field.field_name }}" value="{{ data.get(field.field_name, '') }}" style="width:100%" data-module-tags >

        {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    </div>
</div>
