
{% resource 'dfo/ac_spcode.js' %}

<table class="table table-striped spcode-table">
  <thead>
    <tr>
      <th class="w50">Species Code</th>
      <th class="w20">Age Data</th>
      <th class="w30">Obs Type</th>
    </tr>
  </thead>
  <tbody id="ac_js_table">
  </tbody>
</table>

<div class="btn btn-success" id="add-species">
  <i class="fa fa-plus" aria-hidden="true"></i>
</div>

<div class="form-group control-full">

    <label class="control-label" for="field-{{ field.field_name }}">{{ field.label }}</label>
    <div class="controls ">

        <input type="text" id="field-{{ field.field_name }}" name="{{ field.field_name }}" value="{{ data.get(field.field_name, '') }}">

        {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}

    </div>
</div>
