
{% resource 'dfo/ac_spcode.js' %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="w60">Species Code</th>
      <th class="w15">Age Data</th>
      <th class="w15">Observation Type</th>
    </tr>
  </thead>
  <tbody id="ac_js_table">
  </tbody>
</table>

<div class="form-group control-full">

    <label class="control-label" for="field-{{ field.field_name }}">{{ field.label }}</label>
    <div class="controls ">

        <input type="text" id="field-{{ field.field_name }}" name="{{ field.field_name }}" value="{{ data.get(field.field_name, '') }}">

    </div>
</div>
