{% extends "package/resource_read.html" %}

{% block resource_additional_information_inner %}
    <div class="module-content">
        <h2>{{ _('Additional Information') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <tbody>
            {%- block resource_last_updated -%}
                <tr>
                    <th scope="row">{{ _('Last updated') }}</th>
                    <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
                </tr>
            {%- endblock -%}
            {%- block resource_created -%}
                <tr>
                    <th scope="row">{{ _('Created') }}</th>
                    <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
                </tr>
            {%- endblock -%}
            {%- block resource_format -%}
                <tr>
                    <th scope="row">{{ _('Format') }}</th>
                    <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
                </tr>
            {%- endblock -%}
            {# Hide license #}
            {%- block resource_license -%}
            {%- endblock -%}
            </tbody>
        </table>

        {% block resource_fields %}
            {%- for group in schema.resource_fields|groupby('display_group') -%}
                {%- set group_fields = h.non_empty_fields(group.list|list, res, exclude_fields) -%}
                {% if group_fields %}
                    <div class="additional-info">
                        <h3 class="dataset-group-label">{{ group.grouper }}</h3>
                        <p>**</p>
                        <dl>
                            {% for field in group_fields %}
                                <dt class="dataset-label">
                                    {{ h.scheming_language_text(field.label) }}
                                </dt>
                                {# Add another class if composite #}
                                {%- if field.subfields -%}
                                    <dd class="dataset-details composite-holder test77">
                                {%- else -%}
                                    <dd class="dataset-details">
                                {%- endif -%}
                                    {%- snippet 'scheming/snippets/display_field.html',
                            field=field,
                            data=res,
                            entity_type='dataset',
                            object_type=dataset_type -%}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}
