{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/dfo.css" />
{% endblock %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-important">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
          </h3>
        {% endblock %}
        {% block banner %}
          {% if banner %}
            <span class="banner">{{ _('Popular') }}</span>
          {% endif %}
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <p class="dsmeta">DESCRIPTION:</p>
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
      </div>
      {% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources unstyled">
              {% block resources_inner %}
                <p class="dsmeta">QUALITY CONTROL: &nbsp;&nbsp;</p><p class="dsmeta-content">{{ quality_control }}</p></br>
                <p class="dsmeta">RESOURCES: &nbsp;&nbsp;</p><p class="dsmeta-content">{{ package.resources|count - 1 }}</p><br>
                <p class="dsmeta">UPDATED: &nbsp;&nbsp;</p><p class="dsmeta-content">{{ h.render_datetime(h.dict_list_reduce(package.resources, 'last_modified')[0]) }}</p><br>
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li>
                  <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
                {% endfor %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
      {% endblock %}
    {% endblock %}
  </li>
{% endblock %}

