{% ckan_extends %}

{# Hide license #}
{%- block resource_license -%}
{%- endblock -%}

{% block resource_fields %}
{# Customize what is displayed for an upload resource #}
{%- if res.url_type == 'upload' -%}
<div class="standout-panel-ok"><i class="fa fa-medium fa-info-circle"></i>
    This resource is the uploaded data placeholder for the dataset "{{ pkg.title }}."  To download the data, click the
    Download button at the top-right. To replace the uploaded file, click Manage, then remove the existing file
    under the Upload Data section, and upload a new version of the file. </div>
{%- endif -%}
{%- set upload_res_groups = ['General', 'Upload Data'] -%}

{%- for group in schema.resource_fields|groupby('display_group') if not res.url_type or (res.url_type == 'upload' and group.grouper in upload_res_groups) -%}
    {%- set group_fields = h.non_empty_fields(group.list|list, res, exclude_fields) -%}
    {% if group_fields %}
        <div class="additional-info">
            <h3 class="dataset-group-label">{{ group.grouper }}</h3>
            <dl>
                {% for field in group_fields %}
                    <dt class="dataset-label">
                        {{ h.scheming_language_text(field.label) }}
                    </dt>
                    {# Add another class if composite #}
                    {%- if field.subfields -%}
                        <dd class="dataset-details composite-holder">
                    {%- else -%}
                        <dd class="dataset-details">
                    {%- endif -%}
                        {%- snippet 'scheming/snippets/display_field.html',
                            field=field,
                            data=res,
                            entity_type='dataset',
                            object_type=dataset_type -%}
                    </dd>
            {% endfor %}
            </dl>
        </div>
    {% endif %}
{% endfor %}

{# Display map if exists - disabled until dataset_map component is ready
    If done in yml, it's looking for this snippet
    scheming/display_snippets/dataset_map.html
    
#}

{% if res.spatial %}
    
    {% snippet "package/snippets/resource_map.html", extent=res.spatial %}
    {% block body_extras %}
        {{ super() }}
        {% resource 'dfo/resource_map.js' %}
    {% endblock %}

{% endif %}

{% endblock %}
