/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: rgb(40, 40, 40);
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(255, 255, 255);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  background-color: rgb(102, 0, 204);
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: rgb(61,61,61);
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(50, 226, 184);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(46, 209, 170);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgb(20, 167, 108, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgb(20, 167, 108, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: rgb(40, 40, 40);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.docs-caption {
    width: image width px;
    font-style: italic;
    text-align: center;
}

.docs-img {
    padding-bottom: 0.2em;
}

.additional-info {
    border: none;
}

.additional-info .dataset-group-label {
    border-bottom: 2px solid #000;
}

.additional-info .dataset-label,
.additional-info .dataset-details {
    vertical-align: middle;
}

.dataset-group-desc {
    font-style: italic;
    color: #869fb7;
}

.section-collapse {
    color: #447cb1;
    cursor: pointer;
}

/* Keep user-entered line breaks
   https://github.com/tk-technologies/ckanext-dfo/issues/40
   Nope, causes composite-repeating fields to have massive whitespace  */
.dataset-details {
    white-space: pre-line;
}

/* Override in composite-repeating-list to prevent weird spacing */
.composite-repeating-list {
    white-space: normal;
}

.composite-holder {
    line-height: 0;
}

.standout-panel-ok {
    background-color: #f1f9ef;
    border: 1px solid #75aa6b;
    border-radius: 5px;
    padding: 10px 15px;
}


.additional-info .dataset-label {
    font-weight: bold;
    color: #666;
    white-space: nowrap;
    padding: 12px 1px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 3px;
}

/* Add icons for additional formats */
.format-label {
  width: 32px;
  height: 35px;
}

.format-label[data-format=zip],
.format-label[data-format*=zip] {
  background-position: -128px -62px;
}

.format-label[data-format=gdb],
.format-label[data-format*=gdb] {
  background-position: -384px -62px;
}

.format-label[data-format=shp],
.format-label[data-format*=shp] {
  background-position: -416px -62px;
}

/* Add a fake 'link' format, even though it does not exist as an extension,
    to support resource_type=Link. Use the small DATA icon at bottom-left */
.format-label[data-format=link],
.format-label[data-format*=link] {
  background-position: 0px -62px;
}

/* kml and geojson are handled in ckanext-geoview with gis icons file and css:
   https://www.gis-hub.ca/img/gis-resources-sprite-icons.png
   https://www.gis-hub.ca/fanstatic/ckanext-geoview/:version:2018-04-10T12:37:05/css/geo-resource-styles.css
.format-label[data-format=kml],
.format-label[data-format*=kml] {
  background-position: -448px -62px;
}
.format-label[data-format=geojson],
.format-label[data-format*=geojson] {
  background-position: -480px -62px;
}
*/

.format-label[data-format=mxd],
.format-label[data-format*=mxd] {
  background-position: -512px -62px;
}

.format-label[data-format=lyr],
.format-label[data-format*=lyr] {
  background-position: -544px -62px;
}

.format-label[data-format=tif],
.format-label[data-format*=tif] {
  background-position: -576px -62px;
}

/* Use our own icon file */
.format-label {
  background: url(../../../base/images/sprite-gis-icons.png) no-repeat 0 0;
}

/* Enclose composite fields in a box with background for visual offset */
.composite-subfield-group {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.composite-fieldset {
    margin-bottom: 15px;
}

/* Adjust spacing in template between text box and help text */
select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="tel"], legend {
    margin-bottom: 5px !important;
}

.select2-container {
    margin-bottom: 5px;
}

.control-group {
    margin-bottom: 15px;
}

.composite-repeating-list {
    margin-top: 0px;
    margin-bottom: 5px;

}

.info-block.composite-header-info {
    margin-bottom: 2px;
}

hr {
    margin: 5px 0px
}

h3.page-heading {
    margin-bottom: 0px;
}

p.composite-header {
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 0px;
}

.dataset-repeating-list {
    list-style: none;
    margin-left: 0;
}

.dataset-repeating-list > li {
    border-left: 3px solid #ccc;
    padding-left: 8px;
    margin-bottom: 8px;
}

.additional-info .tag {
    border-radius: 0;
}

.additional-info .tag-list {
    padding: 0;
}

.resource-item-dfo-preview {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-left: 4px solid #FFFFFF;
    display: flex;
}

.resource-item-dfo-preview .title {
    padding-left: 8px;
}

.resource-item-actions {
    margin-left: auto;
}

#resource-edit .form-horizontal .info-block {
    padding: 0;
}

#dataset-edit .info-block,
#resource-edit .info-block {
    font-size: 15px;
    color: #869fb7;
    margin-bottom: 5px;
}

#resource-edit .info-block {
    padding-top: 0px;
    margin-top: 0px;
}

#dataset-edit .control-group .btn {
    /* Fix alignment of +/- buttons with text inputs */
    margin-bottom: 10px;
    padding-top: unset;
    padding-bottom: unset;
}

#dataset-edit div.first-subfield-info {
    padding-left: 0;
    margin-top: 0;
}

#dataset-edit .slug-preview {
    margin-left: 0;
    margin-bottom: 10px;
}

/* Make table columns fit the width of content
https://stackoverflow.com/a/52463416
*/
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

/* Table settings for attributes */
.w10 {
    width: 10% !important;
}
.w15 {
    width: 15% !important;
}
.w20 {
    width: 20% !important;
}
.w30 {
    width: 30% !important;
}
.w40 {
    width: 40% !important;
}
.w50 {
    width: 50% !important;
}
.w60 {
    width: 60% !important;
}

/* Table for species codes */
.spcode-table {
    table-layout: auto;
    margin-bottom: 0px;
}

.highlight {
    background-color: rgba(237, 138, 0, 1);
	font-weight: bold;
}