.additional-info {
    border: none;
}

.additional-info tbody tr th,
.additional-info tbody tr td {
    vertical-align: middle;
}

.additional-info tbody tr th {
    font-weight: bold;
    color: #666;
    text-align: right;
    width: 30%;
    white-space: normal;
    padding: 8px 20px;
}

.additional-info .tag {
    border-radius: 0;
}

.additional-info .tag-list {
    padding: 0;
}

.resource-item-dfo {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-left: 4px solid #FFFFFF;
}

.resource-item-dfo:hover {
    border-left: 4px solid #cccccc;
}

.resource-item-dfo .format-label {
    margin-left: 8px;
    margin-right: 8px;
}