/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: rgb(40, 40, 40);
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(255, 255, 255);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  background-color: rgb(179, 179, 179);
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: rgb(61,61,61);
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(153, 153, 153);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgb(20, 167, 108, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgb(20, 167, 108, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: rgb(40, 40, 40);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.docs-caption {
    width: image width px;
    font-style: italic;
    text-align: center;
}

.docs-img {
    padding-bottom: 0.2em;
}

.additional-info {
    border: none;
}

.additional-info .dataset-group-label {
    border-bottom: 2px solid #000;
}

.additional-info .dataset-label,
.additional-info .dataset-details {
    vertical-align: middle;
}

.dataset-group-desc {
    font-style: italic;
    color: #869fb7;
}

.section-collapse {
    color: #447cb1;
    cursor: pointer;
}

/* Keep user-entered line breaks
   https://github.com/tk-technologies/ckanext-dfo/issues/40
   Nope, causes composite-repeating fields to have massive whitespace  */
.dataset-details {
    white-space: pre-line;
}

/* Override in composite-repeating-list to prevent weird spacing */
.composite-repeating-list {
    white-space: normal;
}

.composite-holder {
    line-height: 0;
}

.standout-panel-ok {
    background-color: #f1f9ef;
    border: 1px solid #75aa6b;
    border-radius: 5px;
    padding: 10px 15px;
}

/* White bg for OpenLayers map */
#ol_resource_map_container {
    background-color: white;
}


.additional-info .dataset-label {
    font-weight: bold;
    color: #666;
    white-space: nowrap;
    padding: 12px 1px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 3px;
}

/* Add icons for additional formats */
.format-label {
  width: 32px;
  height: 35px;
}

.format-label[data-format=zip],
.format-label[data-format*=zip] {
  background-position: -128px -62px;
}

.format-label[data-format=gdb],
.format-label[data-format*=gdb] {
  background-position: -384px -62px;
}

.format-label[data-format=shp],
.format-label[data-format*=shp] {
  background-position: -416px -62px;
}

/* Add a fake 'link' format, even though it does not exist as an extension,
    to support resource_type=Link. Use the small DATA icon at bottom-left */
.format-label[data-format=link],
.format-label[data-format*=link] {
  background-position: 0px -62px;
}

/* kml and geojson are handled in ckanext-geoview with gis icons file and css:
   https://www.gis-hub.ca/img/gis-resources-sprite-icons.png
   https://www.gis-hub.ca/fanstatic/ckanext-geoview/:version:2018-04-10T12:37:05/css/geo-resource-styles.css
.format-label[data-format=kml],
.format-label[data-format*=kml] {
  background-position: -448px -62px;
}
.format-label[data-format=geojson],
.format-label[data-format*=geojson] {
  background-position: -480px -62px;
}
*/

.format-label[data-format=mxd],
.format-label[data-format*=mxd] {
  background-position: -512px -62px;
}

.format-label[data-format=lyr],
.format-label[data-format*=lyr] {
  background-position: -544px -62px;
}

.format-label[data-format=tif],
.format-label[data-format*=tif] {
  background-position: -576px -62px;
}

/* Use our own icon file */
.format-label {
  background: url(../../../base/images/sprite-gis-icons.png) no-repeat 0 0;
}

/* Enclose composite fields in a box with background for visual offset */
.composite-subfield-group {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.composite-fieldset {
    margin-bottom: 15px;
}

/* Adjust spacing in template between text box and help text */
select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="tel"], legend {
    margin-bottom: 5px !important;
}

.select2-container {
    margin-bottom: 5px;
}

.control-group {
    margin-bottom: 15px;
}

.composite-repeating-list {
    margin-top: 0px;
    margin-bottom: 5px;

}

.info-block.composite-header-info {
    margin-bottom: 2px;
}

hr {
    margin: 5px 0px
}

h3.page-heading {
    margin-bottom: 0px;
}

p.composite-header {
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 0px;
}

.dataset-repeating-list {
    list-style: none;
    margin-left: 0;
}

.dataset-repeating-list > li {
    border-left: 3px solid #ccc;
    padding-left: 8px;
    margin-bottom: 8px;
}

.additional-info .tag {
    border-radius: 0;
}

.additional-info .tag-list {
    padding: 0;
}

.resource-item-dfo-preview {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-left: 4px solid #FFFFFF;
    display: flex;
}

.resource-item-dfo-preview .title {
    padding-left: 8px;
}

.resource-item-actions {
    margin-left: auto;
}

/* Additional CSS for resource-item to enable compatibility with resource re-ordering,
    while maintaining the same styles and spacing in the original DFO extension  */

.resource-item .format-label {
    position: relative !important;
    top: 2px !important;
    left: 0px !important;
}

.resource-item {
    position: relative !important;
    padding: 0px 0px 0px 0px !important;
}

.resource-item:hover {
  background-color: #ffffff !important;
}

#resource-edit .form-horizontal .info-block {
    padding: 0;
}

#dataset-edit .info-block,
#resource-edit .info-block {
    font-size: 15px;
    color: #869fb7;
    margin-bottom: 5px;
}

#resource-edit .info-block {
    padding-top: 0px;
    margin-top: 0px;
}

#dataset-edit .control-group .btn {
    /* Fix alignment of +/- buttons with text inputs */
    margin-bottom: 10px;
    padding-top: unset;
    padding-bottom: unset;
}

#dataset-edit div.first-subfield-info {
    padding-left: 0;
    margin-top: 0;
}

#dataset-edit .slug-preview {
    margin-left: 0;
    margin-bottom: 10px;
}

/* Make table columns fit the width of content
https://stackoverflow.com/a/52463416
*/
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

/* Table settings for attributes */
.w10 {
    width: 10% !important;
}
.w15 {
    width: 15% !important;
}
.w20 {
    width: 20% !important;
}
.w30 {
    width: 30% !important;
}
.w40 {
    width: 40% !important;
}
.w50 {
    width: 50% !important;
}
.w60 {
    width: 60% !important;
}

/* Table for species codes */
.spcode-table {
    table-layout: auto;
    margin-bottom: 0px;
}

.highlight {
    background-color: rgba(255, 255, 153, 1);
	font-weight: bold;
}

/* THIS IS FOR THE SUMMARIES DROPDOWN MENU */
/* Style The Dropdown Button */
.dropbtn {
  background-color: #294280;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #1c3269;
}

/* THIS IS FOR THE NOTIFICATIONS COUNT ICON */
.account-masthead .account .notifications a span.badge {
  font-size: 12px;
  margin-left: 3px;
  padding: 1px 6px;
  background-color: #282828;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  color: #ffffff;
}
.account-masthead .account .notifications a:hover span {
  color: #ffffff;
  background-color: #3d3d3d;
}

/* THIS IS FOR THE PRIMARY BUTTONS LIKE ADD DATASET*/
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3d3d3d;
  background-image: -moz-linear-gradient(top, #3d3d3d, #3d3d3d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d3d3d), to(#3d3d3d));
  background-image: -webkit-linear-gradient(top, #3d3d3d, #3d3d3d);
  background-image: -o-linear-gradient(top, #3d3d3d, #3d3d3d);
  background-image: linear-gradient(to bottom, #3d3d3d, #3d3d3d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec66ab', endColorstr='#ffe73892', GradientType=0);
  border-color: #ffffff #ffffff #ffffff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3d3d3d;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #3d3d3d;
  *background-color: #3d3d3d;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #3d3d3d \9;
}

/* THIS IS FOR THE NAV BUTTON TO DISPLAY NAV MENU WHICH IS ENABLED WHEN SCREEN SIZE SHRINKS */
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
  background-color: #969696;
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  margin-top: 15px;
}

/* THIS IS FOR THE PACKAGE-ITEMS TEMPLATE WHICH LISTS DATASETS ON GIS-HUB.CA/DATASET */
.dsmeta {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  vertical-align: top;
}

.dsmeta-content {
  color: #696969;
  font-size: 12px;
  display: inline;
  vertical-align: top;
}

.empty {
  color: #696969;
  font-size: 12px;
  font-style: italic;
}

/* THIS IS FOR THE DATASET HEADING */
.dataset-heading a {
  color: #2e2e2e;
  text-decoration: none;
}

/* THIS IS FOR THE DATA FORMAT COLOURS (ADDED SHP AND GDB) */
.label[data-format=shp],
.label[data-format*=shp] {
  background-color: #f2b63d;
  text-shadow: none;
}

.label[data-format=gdb],
.label[data-format*=gdb] {
  background-color: #3694ff;
  text-shadow: none;
}

.label[data-format=zip],
.label[data-format*=zip] {
  background-color: #9c9c9c;
  color: #ffffff;
  text-shadow: none;
}

.label[data-format=grp],
.label[data-format*=grp] {
  background-color: #474747;
  color: #ffffff;
  text-shadow: none;
}

.label[data-format=tif],
.label[data-format*=tif] {
  background-color: #773eb3;
  color: #ffffff;
  text-shadow: none;
}

.label[data-format=link],
.label[data-format*=link] {
  background-color: #94d4c1;
  color: #ffffff;
  text-shadow: none;
}

.label[data-format=docx],
.label[data-format*=docx] {
  background-color: #3e53b0;
  color: #ffffff;
  text-shadow: none;
}

.label[data-format=pdf],
.label[data-format*=pdf] {
  text-shadow: none;
}

.label[data-format=xls],
.label[data-format*=xls] {
  text-shadow: none;
}

/* THIS IS FOR THE GREEN SUCCESS LABEL & ORANGE WARNING LABEL */
.label-success,
.badge-success {
  text-shadow: none;
}
.label-success[href],
.badge-success[href] {
  text-shadow: none;
}

.label-warning,
.badge-warning {
  text-shadow: none;
}
.label-warning[href],
.badge-warning[href] {
  text-shadow: none;
}

.dropdown-backdrop{
    position: static;
}