{%- set pkg = pkg_dict -%}
{%- set exclude_fields = [

    'tag_string',
    'license_id',

  ] -%}

{# Removed these fields from excluded list:
    'id',
    'title',
    'name',
    'notes',
    'notes_translated',
    'owner_org',
#}

{%- for group in schema.dataset_fields|groupby('display_group') -%}
    {%- for disp_info in schema.display_groups -%}
        {%- if disp_info.label==group.grouper -%}
            {%- set group_desc = disp_info.description -%}
        {%- endif -%}
    {%- endfor -%}
{%- set group_fields = h.non_empty_fields(group.list|list, pkg_dict, exclude_fields) -%}
{% if group_fields %}
    <div class="additional-info">
        {{ group_desc }}
        <h3 class="dataset-group-label">{{ group.grouper }}</h3>
        <dl>
            {% for field in group_fields %}
                <dt class="dataset-label">
                    {{- h.scheming_language_text(field.label) -}}
                </dt>
                {# Add another class if composite #}
                {%- if field.subfields -%}
                    <dd class="dataset-details composite-holder">
                {%- else -%}
                    <dd class="dataset-details">
                {%- endif -%}
                    {%- snippet 'scheming/snippets/display_field.html',
                            field=field,
                            data=pkg_dict,
                            schema=schema
                    -%}
                </dd>
            {% endfor %}
        </dl>
    </div>
{% endif %}
{%- endfor -%}

{% if org %}
  {% set url_field = h.scheming_field_by_name(schema.dataset_fields, 'url') %}
  {% if url_field %}
  <div class="read-more">
    {{ _("View this item at") }} <a href="{{ pkg_dict[url_field.field_name] }}">{{ _(org.title) }}</a>.
  </div>
  {% endif %}
{% endif %}
