{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

{% set authorized = h.check_access('resource_show',{'id':res.id, 'resource':res }) %}
{% set user_id = h.restricted_get_user_id() %}

<div class="resource-item" data-id="{{ res.id }}">
    <div class="resource-item-dfo-preview">
        <span class="format-label pull-left" property="dc:format"
              data-format="{{ res.format.lower() or 'data' }}">
            {{ h.get_translated(res, 'format') }}
        </span>
        <div class="title pull-left">
            {{ h.resource_display_name(res) | truncate(60) }}
        </div>
        <div class="resource-item-actions pull-right">
            <ul class="inline">
                {% if authorized %}

                    {% if res.url_type == 'upload' %}
                        {# Show Download button only for url_type=upload #}
                        <li>
                            {%- if res.disclaimer or res.disclaimer_url -%}
                                <button class="btn btn-success" data-toggle="modal"
                                        data-target="#r_{{ res.id }}">
                                    {{ _('Download') }} {{ h.get_translated(res, 'format') }}
                                </button>
                            {%- else -%}
                                <a href="{{ res.url }}" class="btn btn-success"
                                   target="_blank">
                                    {{ _('Download') }} {{ h.get_translated(res, 'format') }}
                                </a>
                            {%- endif -%}
                        </li>
                    {% endif %}
                    {% if res.resource_type == 'Link' %}
                        {# Show Go to Link button #}
                        <li>
                            <a href="{{ res.url }}" class="btn btn-primary"
                               target="_blank">
                                {{ _('Go to Link') }}
                            </a>
                        </li>
                    {% endif %}
                    {# Show Details button for all items, including data contents
                        (layers, tables, documents) in the uploaded file #}

                    <li>
                        <a href="{{ url }}" class="btn">{{ _('Details') }}</a>
                    </li>


                {% else %}
                    {# User is not authorized to view this resource #}
                    <div class="dropdown btn-group">
                        <a href="{{ h.url_for('restricted_request_access', package_id=pkg.name, resource_id=res.id) }}" class="btn">
                            <i class="fa fa-icon fa-unlock-alt" style="margin-right: 5px;"></i>
                            {{ _('Request Access')}}
                        </a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
    {%- if res.disclaimer or res.disclaimer_url -%}
        <div id="r_{{ res.id }}" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h3>{{ _('Disclaimer') }}</h3>
            </div>
            <div class="modal-body">
                {% if res.disclaimer %}
                    <p>{{ res.disclaimer }}</p>
                {% endif %}
                {% if res.disclaimer_url %}
                    <p>
                        <a href="{{ res.disclaimer_url }}" target="_blank">
                            {{ _('Read full terms and conditions.') }}
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" class="close"
                        data-dismiss="modal">
                    {{ _('I do not accept') }}
                </button>
                <button type="button" class="btn btn-primary start-download" data-download="{{ res.url }}">
                  {{ _('Accept') }}
                </button>
            </div>
        </div>
    {%- endif -%}
    <div class="clearfix"></div>
</div>