{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/dfo.css" />
{% endblock %}

{% set is_logged_in = true if c.userobj else false %}

{#  Allow any user path (login, password reset etc)  #}
{% if "/user/" in request.path %}
    {% set is_logged_in = True %}
{% endif %}

{% block primary %}
  <div class="primary span9">
    {#
    The primary_content block can be used to add content to the page.
    This is the main block that is likely to be used within a template.

    Example:

      {% block primary_content %}
        <h1>My page content</h1>
        <p>Some content for the page</p>
      {% endblock %}
    #}
    {% block login_content %}
    {% endblock %}

    {% if is_logged_in %}
        {% block primary_content %}
          <article class="module">
            {% block page_header %}
              <header class="module-content page-header">
                {% if self.content_action() | trim %}
                  <div class="content_action">
                    {% block content_action %}{% endblock %}
                  </div>
                {% endif %}
                <ul class="nav nav-tabs">
                  {% block content_primary_nav %}{% endblock %}
                </ul>
              </header>
            {% endblock %}
            <div class="module-content">
              {% if self.page_primary_action() | trim %}
                <div class="page_primary_action">
                  {% block page_primary_action %}{% endblock %}
                </div>
              {% endif %}
              {% block primary_content_inner %}
              {% endblock %}
            </div>
          </article>
        {% endblock %}
    {% else %}
        {% block nologin %}
            Please login to continue.
        {% endblock %}
    {% endif %}
  </div>
{% endblock %}


{% block secondary %}
  <aside class="secondary span3">
    {#
    The secondary_content block can be used to add content to the
    sidebar of the page. This is the main block that is likely to be
    used within a template.

    Example:

      {% block secondary_content %}
        <h2>A sidebar item</h2>
        <p>Some content for the item</p>
      {% endblock %}
    #}
    {% block login_secondary %}
    {% endblock %}
    {% if is_logged_in %}
    {% block secondary_content %}{% endblock %}
    {% endif %}
  </aside>
{% endblock %}

